// reset
@import "../../style/reset/Normalize.min.css";

// fonts
@import "../../assets/fonts/fonts.min.css";

// variaveis
@import "../../style/variaveis/var.min.css";

// style da pagina
body {
  background-color: var(--cor-primaria);
  display: grid;
  grid-template-areas:
    ". header ."
    ". main ."
    "footer footer footer";
  grid-template-columns: 1fr var(--max-width-container) 1fr;

  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5px;

    .logo {
      a {
        color: var(--cor-texto-preto);
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
      }
    }

    .menu {
      .menu__item {
        display: flex;
        align-items: center;
        gap: 30px;

        .menu__link {
          color: var(--cor-texto-preto);
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: capitalize;
        }

        .orcamento {
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 10px;
          margin-left: -10px;
        }
      }
      @media screen and (max-width: 760px) {
        display: none;
      }
    }
  }

  main {
    grid-area: main;

    .chamada__container {
      display: flex;
      margin-top: 40px;
      flex-wrap: wrap;

      .chamada {
        padding: 0px 5px;
        display: flex;
        flex-direction: column;

        justify-content: center;

        .chamada__title {
          h1 {
            color: var(--cor-texto-preto);
            font-family: "Open Sans";
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
            @media screen and (max-width: 760px) {
              text-align: center;
            }
          }
        }

        .chamada__btn {
          margin-top: 40px;

          a {
            padding: 20px 60px;
            border: none;
            border-radius: 10px;
            background-color: var(--cor-btn-preto);
            color: var(--cor-texto-branco);
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
            cursor: pointer;
          }
          @media screen and (max-width: 760px) {
            text-align: center;
          }
        }
        @media screen and (max-width: 760px) {
          width: 100%;
        }
      }
      .imagem {
        .imagem__container {
          img {
            width: 70%;
            margin: 0 auto;
            display: block;
          }
        }
        @media screen and (max-width: 760px) {
          width: 100%;
        }
      }
      @media screen and (max-width: 760px) {
        flex-direction: column-reverse;
      }
    }
    .empresas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 80px;
      gap: 20px;
      flex-wrap: wrap;

      .empresa__logo {
        min-width: 130px;
        height: 30px;
      }
    }
  }

  footer {
    grid-area: footer;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}
