// reset
@import "../../style/reset/Normalize.min.css";

// fonts
@import "../../assets/fonts/fonts.min.css";

// variaveis
@import "../../style/variaveis/var.min.css";

// style da pagina
body {
  background-color: var(--cor-primaria);
  display: grid;
  grid-template-areas:
    ". header ."
    ". main ."
    "footer footer footer";
  grid-template-columns: 1fr var(--max-width-container) 1fr;

  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5px;

    .logo {
      a {
        color: var(--cor-texto-preto);
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
      }
    }

    .menu {
      .menu__item {
        display: flex;
        align-items: center;
        gap: 30px;

        .menu__link {
          color: var(--cor-texto-preto);
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: capitalize;
        }

        .orcamento {
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 10px;
          margin-left: -10px;
        }
      }
      @media screen and (max-width: 760px) {
        display: none;
      }
    }
    // menu mobile
    .mobile {
      display: none;
      float: right;

      h3 {
        color: #000;
        cursor: pointer;
        font-size: 26px;
        position: relative;
        z-index: 2;
      }

      ul {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 70px 0 30px 0;
        top: 70px;
        background-color: var(--cor-primaria);
        display: none;
        text-align: center;
      }

      li {
        padding: 10px 0;
      }

      a {
        color: var(--cor-texto-preto);
        text-decoration: none;
        display: block;
        text-transform: capitalize;
      }

      .btn-nav {
        border: 1px solid var(--cor-secundaria);
        padding: 4px 10px;
        border-radius: 20px;
        display: inline-block;
      }

      @media screen and (max-width: 760px) {
        display: block;
      }
    }
  }

  main {
    grid-area: main;

    .chamada__container {
      display: flex;
      margin-top: 40px;
      flex-wrap: wrap;

      .chamada {
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .chamada__title {
          h1 {
            color: var(--cor-texto-preto);
            font-family: "Open Sans";
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
            @media screen and (max-width: 760px) {
              text-align: center;
            }
          }
        }

        .chamada__btn {
          margin-top: 40px;

          a {
            padding: 20px 60px;
            border: none;
            border-radius: 10px;
            background-color: var(--cor-btn-preto);
            color: var(--cor-texto-branco);
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
            cursor: pointer;
          }
          @media screen and (max-width: 760px) {
            text-align: center;
          }
        }
        @media screen and (max-width: 760px) {
          width: 100%;
        }
      }
      .imagem {
        .imagem__container {
          img {
            width: 100%;
            margin: 0 auto;
            display: block;
          }
        }
        @media screen and (max-width: 760px) {
          width: 100%;
          margin-bottom: 40px;
        }
      }
      @media screen and (max-width: 760px) {
        flex-direction: column-reverse;
      }
    }
    .empresas {
      display: flex;
      margin-top: 80px;
      min-width: 320px;

      .empresa__logo {
        width: 20%;
        height: 10px;
        border: 20px solid var(--cor-primaria);
        img {
          width: 80%;
          @media screen and (max-width: 760px) {
            width: 100%;
          }
        }
      }
    }
    // servicos
    .servicos {
      display: flex;
      margin-top: 80px;
      align-items: center;
      gap: 20px;
      padding: 0 1%;

      h2 {
        color: #fff;
        font-family: "Open Sans";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background-color: var(--cor-secundaria);
        padding: 5px 10px;
        text-transform: capitalize;
      }
      p {
        color: #373535;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
        max-width: 450px;
      }
    }
    .servicos-container {
      display: flex;
      margin-top: 80px;
      padding: 0 2%;
      gap: 40px;

      .servicos__box01 {
        display: flex;
        padding: 40px;
        border: 3px solid #ccc;
        border-radius: 20px;
        box-shadow: 0px 8px 4px 0px #000;

        .box__wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .box__saiba__mais {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
        @media screen and (max-width: 760px) {
          width: 100%;
        }
        @media screen and (max-width: 760px) {
          padding: 20px;
        }
      }
      @media screen and (max-width: 760px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  footer {
    grid-area: footer;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}
