// reset
@import "../../style/reset/Normalize.min.css";

// fonts
@import "../../assets/fonts/fonts.min.css";

// variaveis
@import "../../style/variaveis/var.min.css";

// style da pagina
body {
  background-color: var(--cor-primaria);
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr var(--max-width-container) 1fr;

  header {
    justify-content: center;
    border: 1px solid red;

    .logo {
      a {
        color: var(cor-texto-preto);
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
      }
    }

    .menu {
      .menu__item {
        display: flex;
        align-items: center;

        .menu__link {
          color: var(--cor-texto-preto);
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: capitalize;
        }
      }
    }
  }
}
