@import "../../style/reset/Normalize.min.css";
@import "../../assets/fonts/fonts.min.css";
@import "../../style/variaveis/var.min.css";
body {
  background-color: var(--cor-primaria);
  display: grid;
  grid-template-areas: ". header ." ". main ." "footer footer footer";
  grid-template-columns: 1fr var(--max-width-container) 1fr;
}
body header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5px;
}
body header .logo a {
  color: var(--cor-texto-preto);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
body header .menu .menu__item {
  display: flex;
  align-items: center;
  gap: 30px;
}
body header .menu .menu__item .menu__link {
  color: var(--cor-texto-preto);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
body header .menu .menu__item .orcamento {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-left: -10px;
}
body main {
  grid-area: main;
}
body main .chamada__container {
  display: flex;
  margin-top: 80px;
}
body main .chamada__container .chamada {
  padding: 30px 5px;
}
body main .chamada__container .chamada .chamada__title h1 {
  color: var(--cor-texto-preto);
  font-family: "Open Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
body main .chamada__container .chamada .chamada__btn {
  margin-top: 80px;
}
body main .chamada__container .chamada .chamada__btn a {
  padding: 20px 60px;
  border: none;
  border-radius: 10px;
  background-color: var(--cor-btn-preto);
  color: var(--cor-texto-branco);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}
body main .empresas {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}
body main .empresas .empresa__logo {
  width: 150px;
  height: 40px;
}
body footer {
  grid-area: footer;
}
